button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 100px
  }
  /* .border {
   border-radius: 5px;
   padding: 20px;
   border-style: groove;
   border-width: 1px;
   border-bottom: groove;
   border-bottom-color:white;
   border-bottom-width: 5px;
   margin-right: 3px;
  } */

#bord{
    margin-top: 20px;
}
 