<div class="row border fluid" >
  
    
  
<h2 class=""> 
  <div class="">  
     mettre un favicon sur son site
  </div>

</h2>
<hr id="ligne" >
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div >
        <video controls poster="../assets/images/volkeno.png" width="600" id="left">
            <source src="../assets/video/video.mp4">
            <source src="../assets/video/video.webm">
            <source src="../assets/video/video.ogv">
        </video>
        </div> 
        <br>
        <br>
        <br>

        
            


</div>
<div class="col-sm-2"></div>

<div class="form-group">
    <label for="comment">Commentaire:</label>
    <textarea class="form-control" rows="5" id="comment" style="width:600px;"></textarea>
  <br>
    <div>
        <button class="btn btn-primary">ajouter commentaire</button>
        </div>
  </div>
  

  





    
    
     
        
       
      
    
  </div>