


<div class="container-fluid border">


    
        <nav class="navbar navbar-expand-lg navbar-light " >
 
         
 
           <div class="col-sm-1">
           <a class="navbar-brand" href="#">Andu</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon  " id="trait" ></span>
           </button>
         </div>
         <div class="col-sm-3">
 
         </div>
 
 
 
 
           <div class="col-sm-5">
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav">
               <li class="nav-item active">
                 <a class="nav-link" >cours <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">quizz</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">logiciels</a>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   telechargement
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="#">Action</a>
                   <a class="dropdown-item" href="#">Another action</a>
                   <a class="dropdown-item" href="#">Something else here</a>
                 </div>
               </li>
             </ul>
           </div>
         </div>
 
         <div class="col-sm-1">
             <a class="navbar-brand" href="#">Profil</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
 
         </div>
        
         </nav>
      
 
 
 
   
 
 </div>

<br>

<app-menuleft></app-menuleft>
