<!--The content below is only a placeholder and can be replaced.-->
<img src="../assets/images/volkeno.png" alt="">
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <app-page-connexion></app-page-connexion>
        </div>
        <div class="col-sm-1 bordure_verticale">
            
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
          <app-page-inscription></app-page-inscription> 
        </div>
        
    </div>
</div>
