img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
    margin-bottom: 3em;
    margin-top: 3em;
}
.bordure_verticale {
    height: 500px;
    padding-right: 60px;
    border-right: 1px solid gainsboro;
    padding: 2px;
    
}