.Mytitle{
    text-align: center;
    color : blue;
    margin-bottom: 1em;
}
.mb-3{
    margin-bottom: 1em;
}
.mr{
    
    margin-top: 3em;
}
button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
    .border {
   border-radius: 5px;
   padding: 20px;
   border-style: groove;
   border-width: 1px;
   border-bottom: groove;
   border-bottom-color:white;
   border-bottom-width: 5px;
   margin-right: 3px;
  }  