
        <h2 class="Mytitle">Inscription</h2>
        <div class="border">
            <form class="form-group">
                <div class="input-group mb-3" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="texte" class="form-control"   placeholder="Enter votre nom">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="texte" class="form-control"  placeholder="Enter votre prenom">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="number" name="number" min="0" class="form-control" placeholder="téléphone">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="adressse email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control"  placeholder="mot de passe">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control"  placeholder="confirmer mot de passe">
                </div>
                <button type="submit">S'inscrire</button>
          </form>
      </div>
  