
   
    <div class="container">
      <div class="row">
          <div class="col-sm-2  border ">
              <img src="../assets/images/volkeno.png" alt="ANDU">
            
          </div>
          <div class="col-sm-1 ">
             
            
          </div>
          <div class="col sm-9 fluid ">
            <app-accueil></app-accueil>
          </div>
          
  </div>


  