
.Mytitle{
    text-align: center;
    color : green;
    margin-bottom: 1em;
}
.mb-3{
    margin-bottom: 1em;
}
.mr{
    position: relative ;
    margin-left: -30px;
    float: left;
    margin-top: 3em;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .border {
   border-radius: 5px;
   padding: 20px;
   border-style: groove;
   border-width: 1px;
   border-bottom: groove;
   border-bottom-color:white;
   border-bottom-width: 5px;
  }

#left{
  margin-right: 300px;
}

