

    
        
      
      
            <form class="form-group">
                
                
              <a routerLink="connexion"> <button type="submit">connexion</button></a>
            </form>
    
    
  
   
  
  
  
  <!-- <form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-8 mb-8">
        <label for="validationEmail"></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          </div>
          <input type="text" class="form-control" id="validationEmail" placeholder="Email" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            svp veuillez fournir une addresse email valide.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-8 mb-8">
        <label for="validationPassword"></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          </div>
          <input type="text" class="form-control" id="validationPassword" placeholder="Mot de passe" required>
          <div class="invalid-feedback">
            svp veuillez fournir une mot de passe valide.
          </div>
        </div>    
      </div>
        </div>
    <button class="btn btn-succes" type="submit">Se connecter</button>
  </form> -->
  
  
  