<!--The content below is only a placeholder and can be replaced.-->
<img src="../assets/images/volkeno.png" alt="">
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <app-connexion> </app-connexion>
        </div>
        <div class="col-sm-1 bordure_verticale">
            
        </div>
        <div class="col-sm-5">
            <app-inscription></app-inscription>    
        </div>
        <div class="col-sm-1">
            </div>
    </div>
</div>
