.top{
    margin-top:40px;
}
#ligne{
    width: 100%;
    height: 0%
}
.long{
    width: 150px;
}
#participant{
    float: right;
}
#com{
    float: left;
}
#left{
    margin-right: 20px;
}
#myModal{
    
}