<div class="row border fluid" >
  
    
  
  <h2 class=""> 
    <div class="">  
       telecharger des cours
    </div>
  
  </h2>
  <hr id="ligne" >
  <div class="row">
    <div class="col-sm-1"></div>
    
    
    <div class="col-sm-5 top">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="btn-group  border  ">
            <button type="button" class="btn btn-primary long"  data-toggle="modal" data-target="#myModal">Acheter</button>
            <button type="button" class="btn long"  data-toggle="modal" data-target="#myModal">600fcfa</button> 
           <!-- The Modal -->
 <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
          </div>
        </div>
        <div class="card-footer">
            <p class="card-text" id="com">commentaire</p>
            <p class="card-text" id="participant">participants</p>

        </div>
      </div>
    </div>
    <div class="col-sm-5 top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="btn-group  border  ">
                <button type="button" class="btn btn-primary long">Acheter</button>
                <button type="button" class="btn long">600fcfa</button>
               
              </div>
          </div>
          <div class="card-footer">
              <p class="card-text" id="com">commentaire</p>
              <p class="card-text" id="participant">participants</p>
  
          </div>
        </div>
      </div>


      
  </div>


  <div class="row">
      <div class="col-sm-1"></div>
      
      
      <div class="col-sm-5 top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="btn-group  border  ">
              <button type="button" class="btn btn-primary long">Acheter</button>
              <button type="button" class="btn long">600fcfa</button>
             
            </div>
          </div>
          <div class="card-footer">
              <p class="card-text" id="com">commentaire</p>
              <p class="card-text" id="participant">participants</p>
  
          </div>
        </div>
      </div>
      <div class="col-sm-5 top">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="btn-group  border  ">
                  <button type="button" class="btn btn-primary long">Acheter</button>
                  <button type="button" class="btn long">600fcfa</button>
                 
                </div>
            </div>
            <div class="card-footer">
                <p class="card-text" id="com">commentaire</p>
                <p class="card-text" id="participant">participants</p>
    
            </div>
          </div>
        </div>
  
  
        
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        
        
        <div class="col-sm-5 top">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="btn-group  border  ">
                <button type="button" class="btn btn-primary long">Acheter</button>
                <button type="button" class="btn long">600fcfa</button>
               
              </div>
            </div>
            <div class="card-footer">
                <p class="card-text" id="com">commentaire</p>
                <p class="card-text" id="participant">participants</p>
    
            </div>
          </div>
        </div>
        <div class="col-sm-5 top">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group  border  ">
                    <button type="button" class="btn btn-primary long">Acheter</button>
                    <button type="button" class="btn long">600fcfa</button>
                   
                  </div>
              </div>
              <div class="card-footer">
                  <p class="card-text" id="com">commentaire</p>
                  <p class="card-text" id="participant">participants</p>
      
              </div>
            </div>
          </div>
    
    
          
      </div>

      <div class="row">
          <div class="col-sm-1"></div>
          
          
          <div class="col-sm-5 top">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="btn-group  border  ">
                  <button type="button" class="btn btn-primary long">Acheter</button>
                  <button type="button" class="btn long">600fcfa</button>
                 
                </div>
              </div>
              <div class="card-footer">
                  <p class="card-text" id="com">commentaire</p>
                  <p class="card-text" id="participant">participants</p>
      
              </div>
            </div>
          </div>
          <div class="col-sm-5 top">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="btn-group  border  ">
                      <button type="button" class="btn btn-primary long">Acheter</button>
                      <button type="button" class="btn long">600fcfa</button>
                     
                    </div>
                </div>
                <div class="card-footer">
                    <p class="card-text" id="com">commentaire</p>
                    <p class="card-text" id="participant">participants</p>
        
                </div>
              </div>
            </div>
      
      
            
        </div>

 <!-- The Modal -->
 






  </div>

  
  
  
  
 
    
  